<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <table>
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Дата поступления</th>
            <th>Единицы измерения</th>
            <th>Поставщик</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ object.title }}</td>
                <td>{{ object.price }}</td>
                <td>{{ object.receipted_date }}</td>
                <td>{{ object.measure }}</td>
                <td>{{ object.vendor }}</td>
            </tr>
        {% endfor %}
    </table>
    <form action="{% url 'test_app:additem' %}" method="get">
    <input type="submit" value="Add">
    </form>
{% endblock %}
</body>
</html>